<!DOCTYPE html>
<html>

<head>
  <title>TIBBL</title>
  <link rel="stylesheet" href="{{ '/assets/css/w3.css' | url }}">

  <script src="{{ '/assets/js/topcodes.js' | url }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

 <body>
 <div id="main">
    	<div id="video">
  <canvas id="video-canvas" width="480" height="700" ></canvas>
	<div id="video-controls">
    <button id="camera-button" class="duo">Start / Stop</button>
  <button id="switch-view" class="duo">Switch View</button>
  <button id="run" type="button" class="mono">Run</button>
  </div>
  </div>
  <div class="controls">
  <h2>Sound Set</h2>
       <select name="soundSets" id="soundSets"> 
        <option value="GimmeGimmeGimme">Gimme Gimme Gimme</option> 
        <option value="EyeOfTheTiger">Eye of the Tiger</option>
        <option value="Popcorn">Popcorn</option>
        <option value="DoctorFoster">Doctor Foster</option>
        <option value="JingleBells">Jingle Bells</option>
        <option value="Limerick1">Limerick 1</option>
        <option value="Limerick2">Limerick 2</option>
        <option value="Limerick3">Limerick 3</option>
        <option value="Poem">Poem</option>
        <option value="RowYourBoat">Row Your Boat</option>
        <option value="Story">Story</option>
    </select>
	</div>
<div class="controls">
 <h2>Challenges</h2>
 <div id="challenges" class="resultWindow"></div>
 </div>
 

  <h2>Result</h2>
  <div id="result" class="resultWindow"></div>
   <br/>
   <div class="w3-row">

  <h2>Codes</h2>
  <div id="codes" class="resultWindow"></div>
 




<script defer type="module" src="{{ '/assets/js/main.js' | url }}"></script>


</div>
</body>

</html>