/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin: 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

body {
	background-color: #ceede5;
	color: #19736d;
}

#output {display:inline-block}

h2 {
	background-color: #19736d;
	color: #ceede5;
	font-size:1.5em;
}

h3 {
	font-size:1.2em;
	margin: 5px 0 0 0;
	padding: 0;
	font-weight: bold;
}

#main {
width: 100%;
float: left;
}

#video-canvas {
float: left;
position: relative;
width: 100%;
transform: scale(-1, 1);            /*For Firefox (& IE) */
        -webkit-transform: scale(-1, 1);
}

#video-controls {
float: left;
position: relative;
width: 100%;
text-align: center;
  font-size: 0;
}

.controls {
float: left;
position: relative;
border: solid 1px #19736d;
background-color: #fff;
text-align: center;
margin: 0 0 20px 0;
}

#video {
border: solid 1px #19736d;
background-color: #fff;
margin: 0 0 20px 0;
float: left;
}

@media (min-device-width: 320px) and (max-device-width: 480px) {
.controls { width: 100%; float: right; }
#video { width: 100%;}
}

@media (min-device-width: 481px) and (min-width: 481px) {
.controls { width: 480px; margin: 5px;}
#video { width: 480px; margin: 5px;}
}

button {
  background-color: #19736d; 
  border: solid 1px #ceede5;
  color: #ceede5;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 18px;
  margin: 0;
}

select {
	width: 80%;
	margin: 5px; 0 5px 0;
}

button:hover {
  background-color: #ceede5; 
  border: solid 1px #19736d;
  color: #19736d;
  cursor:pointer;
}

.duo {
	width: 50%;
}

.mono {
	width: 100%;
}


